<div class="ember-view">
  <ul class="app-tab">
    <li class="app-tab-item"><a href="https://github.com/ahmetemrekilinc/ember-time-enabled-pikaday" target="_blank" rel="noopener noreferrer">Github</a></li>
    <li class="app-tab-item"><a href="https://www.npmjs.com/package/ember-time-enabled-pikaday" target="_blank" rel="noopener noreferrer">Npmjs</a></li>
  </ul>
  <br>
  <GenericDemoPage @name='Example Usage of Ember Time Enabled Pikaday' @files='showcase.hbs,showcase.js'>
    <Showcase/>
  </GenericDemoPage>

  {{outlet}}
</div>